// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navigation-button {
  @extend .btn-floating;
  @extend .waves-effect;
  @extend .waves-light;
  
  position: absolute;
  top: 250px;
  z-index: 2;
  display: block;
  background-color: $primary-color !important;
}

#main-card {
  margin: 0;
  border-radius: 0;
  
  img {
    @extend .z-depth-1;
    border-radius: 0;
    height: 566px;
  }
  
  #previous-item {
    @extend .navigation-button;
    left: 5px;
  }
  
  #next-item {
    @extend .navigation-button;
    right: 5px;
  }
  
  .card-content {
    border-radius: 0;
    padding: 13px 20px 10px 20px;
    
    .card-title {
      max-width: 340px;
      max-height: 48px;
      
      i {
        position: absolute;
        right: 20px;
        line-height: inherit;
      }
    }
  }
  
  .card-reveal {
    background-color: rgba(255,255,255,0.85);
    
    .card-title {
      max-width: 320px;
      
      i {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}

#items-wrapper {
  padding-top: 15px;
  
  .row {
    margin-bottom: 20px;
    
    .card {
      margin: 0;
      
      .card-image {
        .responsive-img {
          height: 158.938px !important;
        }
      }
      
      .card-content {
        padding: 5px;
        font-size: 1rem;
      }
    }
  }
}
