// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-card {
  margin: 0;
  border-radius: 0;
  
  img {
    border-radius: 0;
    height: 566px;
  }
  
  .card-content {
    border-radius: 0;
    padding: 10px 20px 10px 20px;
    
    .card-title {
      i {
        line-height: inherit;
      }
    }
  }
}

#item-content {
  margin-left: 1em;
  margin-right: 1em;

  h2 {
    text-align: center;
    text-transform: uppercase;

    i {
      font-size: 3.6rem;
    }
  }

  .collapsible {
    border: 0 !important;
  }
}

#item-image {
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: white;
  // padding-button: 0;
}

.half-width {
  width: 50%;
}
