// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#item-content {
  margin-left: 1em;
  margin-right: 1em;

  h2 {
    text-align: center;
    text-transform: uppercase;

    i {
      font-size: 3.6rem;
    }
  }

  .collapsible {
    border: 0 !important;
  }
}

section#item-image {
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: white;
  // padding-button: 0;
}

.half-width {
  width: 50%;
}
